@model User_Management.ViewModels.CreatePasswordViewModel

@{
    ViewBag.Title = "Create Password";
}

<h2>Create Password</h2>

@using (Html.BeginForm("CreatePassword", "Account", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="form-group">
        <label for="email">Email</label>
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @readonly = "readonly" })
    </div>

    <div class="form-group">
        <label for="password">New Password</label>
        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
    </div>

    <div class="form-group">
        <label for="confirmPassword">Confirm Password</label>
        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
    </div>

    <button type="submit" class="btn btn-primary">Create Password</button>
}
